.example-spacer {
    flex: 1 1 auto;
}

#more-icon {
    float: right;
    width: 50px;
    margin-left: 20rem;
    position: relative;
}

#menu-icon {
    float: left;
    width: 50px;
}

.menu-button {
    margin-right: 2rem;
}
