.more-icon {
    float: right;
    width: 50px;
    position: relative;
}

.menu-button {
    margin-right: 2rem;
    float: left;
    width: 50px;
}
.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkgrey
}