<mat-button-toggle-group class="col-12 offset-md-3" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle class="col-3 mx-auto" value="underline"><mat-icon>home</mat-icon></mat-button-toggle>
    <mat-button-toggle class="col-3 mx-auto" value="bold"><mat-icon>dashboard</mat-icon></mat-button-toggle>
    <mat-button-toggle class="col-3 mx-auto" value="italic"><mat-icon>camera_alt</mat-icon></mat-button-toggle>
    <mat-button-toggle class="col-3 mx-auto" value="underline"><mat-icon>my_location</mat-icon></mat-button-toggle>
</mat-button-toggle-group>
