h1, h2, h3, h4, p {
    color: white;
}

.title {
    text-align: center;
}
mat-icon {
    color: white;
}

.mat-card {
    background-color: black;
    height: 100%;
}

.action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100rem;
}