/* Tags */
h1,h2,h3,h4 {
  color: #4084C2;
}

/* Classes  */
.container {
  background-color: black;
}

/* .example-item {
  max-width: 200px;
  height: 20rem;
  margin: 1rem;
} */
/* .select-item {
  color: #000;
} */