<div class="container-fluid">
    <!-- Account Component -->
    <div class="row">
        <app-account></app-account>
    </div>
    <!-- Navbar  -->
    <div class="row">
        <app-category-bar></app-category-bar>
    </div>
    <!-- Category Switcher -->
    <app-dropdown [filterEvents]="this.filterEvents.bind(this)"></app-dropdown>

    <div class="container row">
        <div class="col-8"><h1>Upcoming Events</h1></div>
        <div class="col-4"><a href="">View More</a></div>
    </div>
    <ng-container *ngIf="events">
        <div class="container col-10">
            <mat-card *ngFor="let event of events" class="example-item col-12 my-5"
                (click)="this.navigate(event)">
                <mat-card-content>
                    <img class="img-thumbnail" src="https://images.unsplash.com/photo-1610824771380-390c72f79f11?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80" alt="concert image">
                    <p>{{event.description}}</p>
                </mat-card-content>
                <mat-card-actions class="col-12">
                    <button class="text-primary mx-auto" mat-button>LIKE</button>
                    <button class="text-primary mx-auto" mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>

    <h1>Top Events</h1>
    <app-event-categories [categories]="this.categories"></app-event-categories>
    
    <h1>Event Browse</h1>
    <app-event-categories [categories]="this.categories"></app-event-categories>
</div>