<h1>Current Events</h1>
<mat-form-field appearance="fill">
    <mat-label class="select-item">Favorite food</mat-label>
    <mat-select [formControl]="categoryForm" (selectionChange)="filterEvents()" class="select-item">
      <mat-option *ngFor="let category of ['Bible Study', 'Worship']" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<ng-container *ngIf="currentEvents">
    <div class="container col-6">
        <mat-card *ngFor="let event of currentEvents" class="example-item col-4 my-5" (click)="this.navigate(event)">
            <ng-container *ngIf="event.category === categoryForm.value">
                <mat-card-header>
                    <mat-card-title>{{event.title}}</mat-card-title>
                    <mat-card-subtitle>{{event.date}}</mat-card-subtitle>
                    </mat-card-header>
                <mat-card-content>
                    <p>{{event.location ? event.location : 'Atlanta'}}</p>
                    <p>{{event.description}}</p>
                </mat-card-content>
            </ng-container>
        </mat-card>
    </div>
</ng-container>
<h1>Upcoming Events</h1>
<div class="container col-6">
    <mat-card *ngFor="let event of upcomingEvents" class="example-item col-4 my-5" (click)="this.navigate(event)">
            <mat-card-header>
                <mat-card-title>{{event.title}}</mat-card-title>
                <mat-card-subtitle>{{event.date}}</mat-card-subtitle>
                </mat-card-header>
            <mat-card-content>
                <p>{{event.description}}</p>
            </mat-card-content>
    </mat-card>
</div>