<div class="container-fluid">
    <!-- Account Component -->
    <div class="row">
        <button class="add-button" (click)="this.navigateToAdd()">Add Event</button>
    </div>
    <!-- Navbar  -->
    <!-- <div class="row">
        <app-category-bar></app-category-bar>
    </div> -->
    <!-- Category Switcher -->
    <!-- <app-dropdown [filterEvents]="this.filterEvents.bind(this)"></app-dropdown> -->

    <div class="container row">
        <div class="col-8"><h1>Upcoming Events</h1></div>
        <!-- <div class="col-4"><a href="">View More</a></div> -->
    </div>
    <ng-container *ngIf="events">
        <div class="container col-10">
            <ng-container *ngFor="let event of events">
                <ng-container *ngIf="event.picture">
                    <mat-card  class="example-item col-12 my-5"
                    (click)="this.navigate(event)">
                        <mat-card-content>
                            <img class="img-thumbnail" [src]="event.picture" alt="concert image">
                            <p>{{event.description}}</p>
                        </mat-card-content>
                        <mat-card-actions class="col-12">
                            <button class="text-primary mx-auto" mat-button>LIKE</button>
                            <button class="text-primary mx-auto" mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

    <!-- <h1>Top Events</h1>
    <div class="container row">
        <ng-container *ngFor="let category of categories">
            <div class="col-sm-6 my-1">
                <app-category-card [category]="category"></app-category-card>
            </div>
        </ng-container>
    </div>
    
    
    <h1>Event Browse</h1>
    <div class="container row">
        <ng-container *ngFor="let category of categories">
            <div class="col-sm-6 my-1">
                <app-category-card [category]="category"></app-category-card>
            </div>
        </ng-container>
    </div> -->
    
</div>